# Variables Homework:

Homework 1: Math operations
● Write a program that reads 2 numbers and print their + - * / computations as 
in the picture
● Do good testing for your code
○ E.g. consider negative values 
○ E.g. even and odd values
○ E.g. consider zero as first or 2nd number

In [1]:
first_number= input("Enter first number: ")
second_number= input("Enter second number: ")
print(int(first_number)+int(second_number))
print(int(first_number)-int(second_number))
print(int(first_number)*int(second_number))
print(int(first_number)/int(second_number))

Enter first number: 12
Enter second number: 23
35
-11
276
0.5217391304347826

Homework 2: Students grades
Write a program that reads 2 students information about math exam
○ For each student read: his name, id and grade
● Print the students
● Print the grades average

In [26]:
student1_name= input("Enter first students name: ")
student1_id= input("Enter first student id: ")
student1_grade= float(input("Enter first student grade: "))

student2_name= input("Enter second students name: ")
student2_id= input("Enter second student id: ")
student2_grade= float(input("Enter second student grade: "))


print("Information for students and their 'Math' grades ")
student1= student1_name +" "+ '(ID' +" "+ student1_id +")" +" "+"got grade:" +" "+str(student1_grade) 
print(student1)

student2= student2_name +" "+ '(ID' +" "+ student2_id +")" +" "+"got grade:" +" "+str(student2_grade)
print(student2)

Average= (student1_grade+student2_grade)/2
print("Average math grade: ",Average)

Enter first students name: Tasnim
Enter first student id: 34
Enter first student grade: 4
Enter second students name: Rasi
Enter second student id: 12
Enter second student grade: 5
Information for students and their 'Math' grades
Tasnim (ID 34) got grade: 4.0
Rasi (ID 12) got grade: 5.0
Average math grade:  4.5

Homework 3: Even and Odd sum
● Given 8 space-separated integers, find the sum of those in even places and 
the sum of those in odd places.
○ Note: Even place means the 2nd, 4th, 6th or 8th numbers, 
 odd places are the 1st, 3rd, 5th and 7th numbers.
○ Note: the 8 numbers will be on the same line
○ Note: Don’t print any welcome or by messages.

In [31]:
odd1, even1, odd2, even2, odd3, even3, odd4, even4= map(int, input().split())
even_sum= even1+even2+even3+even4
odd_sum= odd1+odd2+odd3+odd4
print(even_sum)
print(odd_sum)

11 2 7 9 12 -8 3 -1
2
33

Homework 4: Special concatenation
● Write a program that read 3 strings.
○ For simplicity let’s say input is 3 letters A, B and C
● The output is A’B”C repeated 10 times
○ A’B”CA’B”CA’B”CA’B”CA’B”CA’B”CA’B”CA’B”CA’B”CA’B”C

In [35]:
str1= input()
str2=input()
str3=input()

output= (str1+"'"+str2+'"'+str3)*10
print(output)

I
am
Tasnim
I'am"TasnimI'am"TasnimI'am"TasnimI'am"TasnimI'am"TasnimI'am"TasnimI'am"TasnimI'am"TasnimI'am"TasnimI'am"Tasnim